body {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='2000' height='240' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%236CFF43' stroke-width='2.3' stroke-opacity='0.29'%3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
  background-color: #010013;
  overflow-x: hidden;
}

#home {
  margin: 25px auto;
  text-align: center;
}

.memoji {
  border-radius: 10%;
  /* background-color: rgb(242, 242, 242); */
  box-shadow: 0px 0px 25px black;
  margin-top: 10vh;
  padding: 15px;
  border: 5px solid #6cff43;
  background-color: rgb(1, 0, 19);
  cursor: pointer;
}

.social-links i {
  padding: 15px;
  color: black;
  background-color: rgb(108, 255, 67);
  margin: 5px 10px;
  border-radius: 100%;
}

.pointer {
  cursor: pointer;
}

.name { 
  font-family: 'Oswald';
  font-size: 250%;
  color: white;
}

.subtitle {
  color: white;
  font-family: 'Source Code Pro';
  text-transform: capitalize;
}

* {
  margin: 0;
}

body {
  margin: 0;
}